<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.ludacris.model.User"/>
        <mapping class="com.ludacris.model.Role"/>
        <mapping class="com.ludacris.model.Product"/>
        <mapping class="com.ludacris.model.Game"/>
        <mapping class="com.ludacris.model.Purchase"/>
    </session-factory>
</hibernate-configuration>